.mw-body-content {
  .customTag {
    display: block;
    line-height: inherit;
    margin: 0.5em 0;

    .title {
      font-weight: bold;
    }

    &.assumption {}
    &.axiom {}
    &.conjecture {}
    &.corollary {}
    &.definition {}
    &.example {
      background-color: #f9f9f9;
      border: 1px solid #a7d7f9;
      margin: 10px 0 15px 0;
      padding: 5px 10px;
    }
    &.lemma {}
    &.notation {}
    &.proof {
      .title {
        font-weight: normal;
        font-style: italic;
      }
    }
    &.proposition {}
    &.remark {}
    &.result {}
    &.solution {}
    &.theorem {}

    &:target {
      background-color: rgba(228, 158, 32, 0.2);
      padding: 5px 10px;
    }
  }
}
